<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "style", media: 'all', 'data-turbolinks-track' => true %>
	<title>Nodes</title>
</head>
<body>
	<div class="main_body">
		sdfghj
	</div>
</body>
</html>