<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "style", media: 'all', 'data-turbolinks-track' => true %>
	<title>Nodes</title>
</head>
<body style="background-color: grey;">
	<div class="header">
		Здесь просто хедер
	</div>
	<br>
	<div class="main">
		Здесь главный экран, который будет меняться
	</div>
	<br>
	<div class="footer">
		Здесь просто футер
	</div>
</body>
</html>