<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "style", media: 'all', 'data-turbolinks-track' => true %>
	<title>Nodes</title>
</head>
<body>
	<div class="main_body">
		<% @node.each do |n| %>
			<%= n.body.html_safe %>
		<% end %>
	</div>
</body>
</html>